@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

html{
    font-family: 'Outfit', sans-serif;
}

header{
    border: 1px solid black;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.my-btn {
    color: black !important; 
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: ease-in-out 0.5s;
    overflow: hidden;
    &:hover {
        color: white !important;
        fill: #ffff;
    }
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      top: 0;
      left: -40px;
      transform: skewX(180deg);
      background-color: black;
      z-index: -1;
      transition: ease-in-out 0.5s;
    }
    &:hover::before {
      width: 160%;
    }
  }

  
  
