@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

html{
    font-family: 'Poppins', 'Montserrat';
}

body{
    background-color: #181818;
}
.my-bg{
    background-color: #282828;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .my-btn{
        background-color: white;
        border: 1px solid white;
        transition: 0.2s ease-in-out;
        &:hover{
            background-color: transparent;
            border: 1px solid white;
            color: white;
        }
    }
}

#about-section{
    p{
        text-align: justify;
    }
    .hello-claim{
        font-family: 'Druk wide bold';
        font-size: 9rem;
    }
    .my-pic-container{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        img{
            object-fit: cover;
            object-position: 30% 20%;
        }
    }
}